/* ---- App Container ---- */
.app-container {
  display: flex;
  min-height: 100vh;
}

/* ---- Sidebar: hidden on mobile ---- */
.sidebar {
  display: none;
}

/* ---- Bottom Nav pada mobile ---- */
.container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* === HEADER ==== */
.header {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid var(--border-color);
}

/* ==== MAIN CONTENT ==== */
.main-content {
  flex: 1;
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
}


/* ================= TABLET — min-width: 768px ================= */
@media (min-width: 768px) {

  .sidebar {
    display: flex;
    flex-direction: column;
    width: var(--sidebar-collapsed);
    background-color: var(--white);
    border-right: 1px solid var(--border-color);
    position: fixed;
    height: 100vh;
    z-index: 100;
    transition: width 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

}

/* ================= DESKTOP — min-width: 1024px ================= */
@media (min-width: 1024px) {

  /* Full sidebar */
  .sidebar {
    width: var(--sidebar-width);
  }

}