/* ================= VARIABLES ================= */
:root {
  --primary: #008080;
  --primary-light: #CBE4E5;
  --primary-bg: #E8F3F4;
  --secondary-color: #E6F4F1;
  --bg-body: #F4F7F7;
  --white: #FFFFFF;
  --black: #000000;
  --text-dark: #2C3E3E;
  --text-gray: #6B7280;
  --border-color: #E2E8E8;
  --hover-buttonn: #006666;

  --font-main: 'Inter', sans-serif;

  --sidebar-width: 15vw;
  --sidebar-collapsed: 12vw;
  --bottom-nav-height: 64px;
}

/* ================= RESET & GLOBAL ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-body);
  color: var(--text-dark);
}

a { text-decoration: none; }
button { cursor: pointer; border: none; background: none; font-family: inherit; }

.bottom-nav.no-transition,
.bottom-nav.no-transition .indicator,
.bottom-nav.no-transition ul {
    transition: none !important;
}
